<h1>Edit <%= @pond.name %></h1>
<%= form_for @pond do |f| %>
 <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :water_type %>
  <%= f.text_field :water_type %>
  <%= f.submit %>
<% end %>
<%= link_to "Cancel", pond_path %>


