<h1>Create a new frog</h1>
<%= form_for @frog do |f| %>
 <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :color %>
  <%= f.text_field :color %>
  <%= f.label :lives %>
 <%= f.collection_select(:pond_id, Pond.all, :id, :name) %>
  <%= f.submit %>
<% end %>
<%= link_to "Cancel", frogs_path %>



